body {
  background-color: #f9f5e3;
}
.App {
  text-align: center;
  margin: 100px auto;
}
h1 {
  color: #7a7978;
  width: 300px;
  margin: 0px auto;
  padding-bottom: 15px;
}
input {
  border-style: none;
  padding: 9px 50px;
}
input:focus {
  outline: none;
}
button {
  margin-left: 5px;
  padding: 9px 20px;
}

button:hover {
  background-color: #ffffff;
  -webkit-transition: all 500ms ease;
}

@media (max-width: 700px) {
  body {
    background-color: #02020b;
  }
  .App {
    width: 100vw;
  }
  h1 {
    color: #ffffff;
    padding-right: 40px;
  }

  input {
    border-style: none;
    padding: 9px 50px;
    border-radius: 30px;
  }
  button {
    margin-left: 5px;
    padding: 9px 20px;
    border-radius: 15px;
    color: blueviolet;
    background-color: #ffff;
  }
  button:hover {
    background-color: blueviolet;
    color: #ffff;
    -webkit-transition: all 500ms ease;
  }
}

@media (max-width: 365px) {
  button {
    margin-top: 10px;
    padding: 5px 50px;
  }
}
